// sistema-reservas-canchas\sistema-reservas\frontend\src\app\cliente\cliente.scss
/* Reset para evitar márgenes y espacios del navegador */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.dashboard {
  display: flex;
  height: 100vh;
  top: 0;
  background: #f4f4f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;

  main {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: #f4f4f9;
    overflow-y: auto;

    section {
      background: #fff;
      border-radius: 12px;
      padding: 2rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

      h1 {
        margin-bottom: 1rem;
        color: #222;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        color: #555;
      }
    }

    .quick-access {
      padding: 2rem;
    }

    .cards-container {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      margin-top: 2rem;
    }

    .card {
      background-color: #ffffff;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      flex: 1 1 250px;
      cursor: pointer;
      text-align: center;
      transition: transform 0.2s, box-shadow 0.2s;
    }

    .card i {
      color: #4a90e2;
      margin-bottom: 1rem;
    }

    .card h3 {
      margin: 0.5rem 0;
      font-size: 1.2rem;
    }

    .card p {
      font-size: 0.9rem;
      color: #666666;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }

    .card-usuarios {
  background: linear-gradient(135deg, #1d4777, #000913);
  color: #fff;

  i, h3, p {
    color: #fff;
  }
}

.card-canchas {
  background: linear-gradient(135deg, #139478, #1AB394);
  color: #fff;

  i, h3, p {
    color: #fff;
  }
}

.card-reservas {
  background: linear-gradient(135deg, #F5A623, #D97706);
  color: #fff;

  i, h3, p {
    color: #fff;
  }
}

.card {
  &:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  }
}


  }
}
