<div class="payment-wrapper">
  <h2>Selecciona un método de pago</h2>
  <div class="cards-container">
    <div class="card card-card" (click)="select('CARD')">
      <i class="fas fa-credit-card fa-2x"></i>
      <h3>Tarjeta</h3>
      <p>Paga con tu tarjeta de crédito o débito 💳</p>
    </div>

    <div class="card card-cash" (click)="select('CASH')">
      <i class="fas fa-money-bill-wave fa-2x"></i>
      <h3>Efectivo</h3>
      <p>Realiza tu pago al momento 💵</p>
    </div>
  </div>
</div>
