<div class="dashboard">
  <!-- Contenido principal -->
  <main>
    <section class="canchas-section">
      <h1>Canchas</h1>

      <!-- Buscador y botón de añadir cancha -->
      <div class="courts-toolbar">
        <div class="search-box">
        <input 
          type="text"
          placeholder="Buscar por codigo, nombre o tipo de deporte..."
          [(ngModel)]="searchTerm"
          (input)="filterCourts()"
          autocomplete="new-password"
          spellcheck="false"
        />
        </div>
        <button *ngIf="userRole === 'ADMIN'" class="add-btn" (click)="openForm(false)">
          Añadir Cancha
        </button>
      </div>

      <!-- Modal formulario -->
      <div class="modal-backdrop" *ngIf="showForm && userRole === 'ADMIN'" (click)="cancelForm()">
        <div class="modal" (click)="$event.stopPropagation()">
          <h2>{{ editMode ? 'Editar Cancha' : 'Crear Nueva Cancha' }}</h2>

          <div class="form-group">
            <label>Nombre*:</label>
            <input type="text" [(ngModel)]="name" maxlength="50" placeholder="Máx. 50 caracteres"/>
          </div>

          <div class="form-group">
            <label>Descripción:</label>
            <input type="text" [(ngModel)]="description" maxlength="200" placeholder="Opcional"/>
          </div>

          <div class="form-group">
            <label>Tipo de deporte</label>
            <input list="sportTypesList" [(ngModel)]="sportType" placeholder="Seleccione o escriba un deporte" />
            <datalist id="sportTypesList">
              <option *ngFor="let type of sportTypes" [value]="type"></option>
            </datalist>
          </div>

          <div class="form-group">
            <label>Precio por Hora*:</label>
            <input type="number" [(ngModel)]="pricePerHour" min="0" step="0.01" placeholder="Ej: 25"/>
          </div>

          <div class="form-actions">
            <button (click)="submitForm()">{{ editMode ? 'Guardar Cambios' : 'Crear Cancha' }}</button>
            <button type="button" (click)="cancelForm()">Cancelar</button>
          </div>
        </div>
      </div>

        <!-- Contenedor de selección global y acciones masivas -->
        <div class="courts-toolbar">
          <!-- Checkbox global -->
          <div class="select-global">
            <label class="checkbox-label">
              <input
                type="checkbox"
                [checked]="selectAllGlobal"
                (change)="toggleSelectAllGlobal($event)"
              />
              <span>Seleccionar todos los registros</span>
            </label>
          </div>

          <!-- Acciones masivas -->
          <div
            class="bulk-actions"
            *ngIf="selectedCourts.length > 0"
          >
            <button
              class="delete-btn"
              (click)="deleteSelectedCourts()"
              [matTooltip]="selectedCourts.length === 0 ? 'No hay canchas seleccionadas para eliminar' : ''"
            >
              🗑️ Eliminar seleccionados
            </button>
          </div>
        </div>

        <!-- Tabla canchas -->
        <div class="table-container">
          <table class="usuarios-table">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" [checked]="selectAllPage" (change)="toggleSelectAllPage($event)">
                </th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Deporte</th>
                <th (click)="toggleSortByPrice()" style="cursor: pointer;">
                  Precio/Hora
                  <span *ngIf="sortDirection === 'asc'">▲</span>
                  <span *ngIf="sortDirection === 'desc'">▼</span>
                </th>
                <th *ngIf="userRole === 'ADMIN'">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let court of paginatedCourts">
                <td>
                  <input type="checkbox"
                        [checked]="selectedCourts.includes(court)"
                        (change)="toggleSelection(court, $event)"
                        [disabled]="court.hasReservations">
                </td>
                <td>{{ court.code }}</td>
                <td>{{ court.name }}</td>
                <td>{{ court.sportType }}</td>
                <td>{{ court.pricePerHour | currency }}</td>
                <td class="acciones" *ngIf="userRole === 'ADMIN'">
                  <button class="edit-btn" (click)="openForm(true, court)">✏️ Editar</button>
                  <button class="delete-btn" 
                          (click)="deleteCourt(court.id)"
                          [disabled]="court.hasReservations"
                          matTooltip="{{ court.hasReservations ? 'No se puede seleccionar, esta cancha tiene reservas' : '' }}"
                          >🗑️ Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>

          <p *ngIf="filteredCourts.length === 0" class="no-results">No se encontraron usuarios.</p>
            <p>{{ selectedCount }} cancha(s) seleccionada(s)</p>
          
          <!-- Paginación -->
          <div class="pagination" *ngIf="totalPages > 1">
            <button (click)="previousPage()" [disabled]="currentPage === 1">⬅ Anterior</button>
            <span>Página {{ currentPage }} de {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente ➡</button>
          </div>
        </div>
    </section>
  </main>
</div>
